<h2>Edit Compliment</h2>

<form action="compliments/{{id}}?_method=PUT" method="post">
  <input type="text" name="compliments" value="{{compliment}}">
  <input type="submit" value="Submit Edit">
</form>
